*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size:62.5%;
}
body{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
.pepe{
    font-size:8rem;
    color:orange;
    background-color:orange;
    padding:40px;
    border-radius:40px;
}
.fa-icons{
    transition-property:transform, color;
    transition-duration:500ms;
    color:inherit;
}

.tileEntryAnimation{
    animation-name:tileAnimation;
    animation-duration:500ms;
    animation-fill-mode: forwards;
}
@keyframes tileAnimation{
    0% {
        transform:scaleX(1);
    }
    100%{
        transform:scaleX(-1);
        color:white;
    }
}
.tileExitAnimation{
    animation-name:tileAnimation;
    animation-direction: reverse;
    animation-fill-mode: backwards;
}